projects/Truck Application/TruckApp/src/conf/xml-resources/web-service-references/TruckAppWebServices/wsdl/localhost_8080/TruckApp/TruckAppWebServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.truckapp.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.truckapp.com/" name="TruckAppWebServices">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.truckapp.com/" schemaLocation="http://localhost:8080/TruckApp/TruckAppWebServices?xsd=1"/>
</xsd:schema>
</types>
<message name="LocationInfo">
<part name="parameters" element="tns:LocationInfo"/>
</message>
<message name="LocationInfoResponse">
<part name="parameters" element="tns:LocationInfoResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="PricingInfo">
<part name="parameters" element="tns:PricingInfo"/>
</message>
<message name="PricingInfoResponse">
<part name="parameters" element="tns:PricingInfoResponse"/>
</message>
<message name="PaymentInfo">
<part name="parameters" element="tns:PaymentInfo"/>
</message>
<message name="PaymentInfoResponse">
<part name="parameters" element="tns:PaymentInfoResponse"/>
</message>
<message name="ExpenseInfo">
<part name="parameters" element="tns:ExpenseInfo"/>
</message>
<message name="ExpenseInfoResponse">
<part name="parameters" element="tns:ExpenseInfoResponse"/>
</message>
<message name="EmployeeInfo">
<part name="parameters" element="tns:EmployeeInfo"/>
</message>
<message name="EmployeeInfoResponse">
<part name="parameters" element="tns:EmployeeInfoResponse"/>
</message>
<message name="CustomerInfo">
<part name="parameters" element="tns:CustomerInfo"/>
</message>
<message name="CustomerInfoResponse">
<part name="parameters" element="tns:CustomerInfoResponse"/>
</message>
<message name="TransactionInfo">
<part name="parameters" element="tns:TransactionInfo"/>
</message>
<message name="TransactionInfoResponse">
<part name="parameters" element="tns:TransactionInfoResponse"/>
</message>
<message name="InvoiceInfo">
<part name="parameters" element="tns:InvoiceInfo"/>
</message>
<message name="InvoiceInfoResponse">
<part name="parameters" element="tns:InvoiceInfoResponse"/>
</message>
<message name="TruckInfo">
<part name="parameters" element="tns:TruckInfo"/>
</message>
<message name="TruckInfoResponse">
<part name="parameters" element="tns:TruckInfoResponse"/>
</message>
<message name="OrdersInfo">
<part name="parameters" element="tns:OrdersInfo"/>
</message>
<message name="OrdersInfoResponse">
<part name="parameters" element="tns:OrdersInfoResponse"/>
</message>
<portType name="TruckAppWebServices">
<operation name="LocationInfo">
<input wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/LocationInfoRequest" message="tns:LocationInfo"/>
<output wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/LocationInfoResponse" message="tns:LocationInfoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/LocationInfo/Fault/Exception"/>
</operation>
<operation name="PricingInfo">
<input wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/PricingInfoRequest" message="tns:PricingInfo"/>
<output wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/PricingInfoResponse" message="tns:PricingInfoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/PricingInfo/Fault/Exception"/>
</operation>
<operation name="PaymentInfo">
<input wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/PaymentInfoRequest" message="tns:PaymentInfo"/>
<output wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/PaymentInfoResponse" message="tns:PaymentInfoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/PaymentInfo/Fault/Exception"/>
</operation>
<operation name="ExpenseInfo">
<input wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/ExpenseInfoRequest" message="tns:ExpenseInfo"/>
<output wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/ExpenseInfoResponse" message="tns:ExpenseInfoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/ExpenseInfo/Fault/Exception"/>
</operation>
<operation name="EmployeeInfo">
<input wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/EmployeeInfoRequest" message="tns:EmployeeInfo"/>
<output wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/EmployeeInfoResponse" message="tns:EmployeeInfoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/EmployeeInfo/Fault/Exception"/>
</operation>
<operation name="CustomerInfo">
<input wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/CustomerInfoRequest" message="tns:CustomerInfo"/>
<output wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/CustomerInfoResponse" message="tns:CustomerInfoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/CustomerInfo/Fault/Exception"/>
</operation>
<operation name="TransactionInfo">
<input wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/TransactionInfoRequest" message="tns:TransactionInfo"/>
<output wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/TransactionInfoResponse" message="tns:TransactionInfoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/TransactionInfo/Fault/Exception"/>
</operation>
<operation name="InvoiceInfo">
<input wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/InvoiceInfoRequest" message="tns:InvoiceInfo"/>
<output wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/InvoiceInfoResponse" message="tns:InvoiceInfoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/InvoiceInfo/Fault/Exception"/>
</operation>
<operation name="TruckInfo">
<input wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/TruckInfoRequest" message="tns:TruckInfo"/>
<output wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/TruckInfoResponse" message="tns:TruckInfoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/TruckInfo/Fault/Exception"/>
</operation>
<operation name="OrdersInfo">
<input wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/OrdersInfoRequest" message="tns:OrdersInfo"/>
<output wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/OrdersInfoResponse" message="tns:OrdersInfoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservices.truckapp.com/TruckAppWebServices/OrdersInfo/Fault/Exception"/>
</operation>
</portType>
<binding name="TruckAppWebServicesPortBinding" type="tns:TruckAppWebServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="LocationInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="PricingInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="PaymentInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ExpenseInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="EmployeeInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="CustomerInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="TransactionInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="InvoiceInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="TruckInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="OrdersInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="TruckAppWebServices">
<port name="TruckAppWebServicesPort" binding="tns:TruckAppWebServicesPortBinding">
<soap:address location="http://localhost:8080/TruckApp/TruckAppWebServices"/>
</port>
</service>
</definitions>